* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, sans-serif;
  background-color: #bcffb9;
  padding: 2rem;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

header h1 {
  font-size: 4rem;
  margin: 15px 10px;
}

header p {
  font-size: 2.5rem;
}

/* Items Container */

main {
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */
@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .items_Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

.card {
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.3);
}

.visual {
  height: 90px;
  width: 100%;
  background: wheat;
  margin: 2rem 1rem;
  border-radius: 10px;
}

.visual form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 0px auto;
}

.visual input {
  width: 50%;
  text-align: center;
  margin: 0px auto;
  border-radius: 5px;
}

.visual button {
  margin-top: auto;
  width: 45%;
  text-align: center;
  margin: 0px auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(187, 255, 184, 0.6);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: lightpink;
  padding: 1rem;
}

.card img {
  width: 80px;
}

h1 {
  font-size: 1.5rem;
}

.card p {
  font-size: 2rem;
}
